[Unit]
Description="Dyn DNS updater"
After=syslog.target

[Service]
ExecStart=%(bin_dir)s/ipupdate.py -l info %(etc_dir)s/ipupdate.conf
Restart=on-abort
User=%(user)s

[Install]
WantedBy=multi-user.target
